:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #ff8b00;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #14d890;
    --secondary: #e6e7e9;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 768px;
    --breakpoint-md: 992px;
    --breakpoint-lg: 1100px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --e-global-color-primary: #ff4700;
    --e-global-color-secondary: #14d890;
    --e-global-color-text: #000000;
    --e-global-color-accent: #ffffff;
    --e-global-color-af2969b: #e6e7e8;
    --e-global-color-4bec046: #58595b;
    --e-global-color-9fc3fed: #414042;
    --e-global-color-7319ae3: #ff8b00;
    --e-global-color-af24b6d: #fc5d0d;
    --e-global-color-c56c833: #f7f7f7;
    --e-global-color-b7a1b69: #1f2a44;
    --e-global-color-0ec81a5: #0072ce;
    --e-global-color-9154836: #434343;
    --e-global-typography-primary-font-family: "IBM Plex Sans";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "IBM Plex Sans";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "IBM Plex Sans";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "IBM Plex Sans";
    --e-global-typography-accent-font-weight: 500;
}
